body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #111;
    font-family: 'Arial', sans-serif;
    color: #fff;
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .blurred-box {
    position: relative;
    width: 300px;
    height: 450px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    opacity: 0.8;
    padding: 20px;
  }
  
  .avatar-container {
    text-align: center;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #ff00ff;
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.8);
    transition: transform 0.3s ease;
  }
  
  .avatar:hover {
    transform: scale(1.2);
    box-shadow: 0 0 25px rgba(255, 0, 255, 1);
  }
  
  .discord-name {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff;
  }
  
  .real-name {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    color: #fff;
  }
  
  .discord-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .neon-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 10px;
    text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff;
    display: inline-flex;
    align-items: center;
  }
  
  .discord-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .neon-link:hover {
    color: #00ffff;
    text-shadow: 0 0 5px #fff, 0 0 10px #00ffff;
    transform: scale(1.1);
  }
  
  .status {
    text-align: center;
    margin-top: 20px;
  }
  
  .status-text {
    font-size: 1rem;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff;
  }
  
  .status-on {
    color: green;
  }
  
  .status-off {
    color: red;
  }
  
